/**
 * color when blocked
 */
[data-blocker-display=none] {
    display: none !important;
    background-color: inherit;
}

/**
 * color when unhide
 */
[data-blocker-display=unhide] {
    background-color: #FFD2D2;
}

g-inner-card:not([data-blocker-display=none]) > span.block-anchor {
    margin-top: 0;
    margin-bottom: 0;
}

/**
 * Anchor immediately after not blocked element
 */
:not(g-inner-card):not([data-blocker-display=none]) + .block-anchor {
    margin-top: -22px;
    margin-bottom: 22px;
}

:not(g-inner-card):not([data-blocker-display=none]) + .block-anchor.block-anchor-tmp-unblock-only {
    margin-top: 0;
    margin-bottom: 0;
}

:not(g-inner-card):not([data-blocker-display=none]) + .block-anchor.block-google-top-news {
    margin-top: 0;
    margin-bottom: 0;
}

:not(g-inner-card):not([data-blocker-display=none]) + .block-anchor.block-google-news-top {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    margin-left: 108px; /* width of class="dfhHve" + margin-right of class="NQHJEb" */
}

/**
 * Anchor immediately after blocked element
 */
:not(g-inner-card)[data-blocker-display=none] + .block-anchor {
    margin-top: 26px;
    margin-bottom: 26px;
}

.block-anchor a {
    font-size: 14px;
}

/**
 * Grouped Google News.
 */
.block-google-news-card-section {
    margin-top: 0 !important;
}

/**
 * Background when displaying dialog
 */
.block-dialog-background {
    z-index: 104;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.block-dialog {
    margin: 15% auto; /* top,bottom=15% left,right=auto */
    width: 60%;
    min-width: 50em;
    background-color: #FFFFFF;
    font-size: 1.4rem;
    border: 1px solid;
    padding: 5px;
}

.block-dialog input {
    font-size: 1.4rem;
}

.block-dialog-url-radios {
    margin-bottom: 1em;
}

.block-dialog-type-select {
    font-size: 1.3rem;
}

.block-dialog-buttons {
    display: flex;
    justify-content: flex-end;
}

.block-dialog-buttons input {
    flex-basis: 8em;
}

.block-dialog-buttons input.blocker-primary-button {
    color: white;
    background-color: darkblue;
}

.block-dialog-buttons input.blocker-secondary-button {
    color: black;
    background-color: #fefefe;
}

.block-operations-div {
    left: 0;
    right: auto;
    background-color: white;
    white-space: nowrap;
    padding: 7px 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.block-google-inner-card {
    width: 205px;
    white-space: normal;
}

.blocker-temporarily-unblock {
    word-break: break-word;
}

.block-google-image-tab {
    display: inline-block;
}

/*
 * ad-hoc fix for Google's Image tab.
 */
#yDmH0d .block-anchor + .block-anchor {
    display: none;
}

.cv2VAd {
    height: auto !important;
}

/* for compact menu in 'News' tab */
#res h3.r.dO0Ag {
    overflow: visible;
}
